<nav
  [ngClass]="{ 'hide-nav': isVisible }"
  [hidden]="removeNav"
  class="nav navbar navbar-expand navclass"
>
  <!-- <a href="#" class="navbar-brand">Techiediaries</a> -->
  <div class="navbar-nav float-right">
    <button *ngFor="let item of navRightItem; let i = index">
      <a
        >{{ item.name }}
        <span *ngIf="i !== navRightItem.length - 1">|</span>
      </a>
    </button>
  </div>

  <div class="navbar-nav float-left leftItems">
    <button class="iconButton" *ngFor="let item of navLeftItems; let i = index">
      <label class="iconLabel">
        <i class="{{ item.icon }} icon"></i> {{ item.name }}
      </label>
    </button>
  </div>
</nav>
