.navclass {
  height: 30px;
  width: 100%;
  line-height: 1;
  background-color: #22303e;
  display: block;
  padding-right: 40px;
  padding-left: 40px;
  transition: all 0.5s linear;
}

.leftBlock {
  display: inline-block;
}

.nopadding {
  padding: 0px i !important;
}

button {
  background-color: transparent;
  border: none !important;
  padding-right: 2px;
  padding-left: 2px;
  :hover {
    color: white !important;
  }

  a {
    color: #fff;
    font-size: 12px;
  }
}
span {
  height: 12px;
  color: #666;
}
.iconColor {
  color: white;
}

.hide-nav {
  padding: 0 !important;
  height: 0px;
  opacity: 0;
}
