<nav
  [ngClass]="{ 'hide-nav': isVisible }"
  class="nav navbar navbar-expand navclass"
>
  <!-- <a href="#" class="navbar-brand">Techiediaries</a> -->
  <div class="navbar-nav float-right">
    <button *ngFor="let item of navRightItem; let i = index">
      <a
        >{{ item.name }}
        <span *ngIf="i !== navRightItem.length - 1">|</span>
      </a>
    </button>
  </div>

  <div class="navbar-nav float-left">
    <button *ngFor="let item of navLeftItems; let i = index">
      <a> <i class="{{ item.icon }} iconColor"></i>&nbsp; {{ item.name }} </a>
    </button>
  </div>
</nav>
