.navclass {
  height: 30px;
  width: 100%;
  line-height: 1;
  background-color: #22303e;
  display: block;
  padding-right: 40px;
  padding-left: 40px;
  transition: all 0.3s linear;
}

.leftBlock {
  display: inline-block;
}

.nopadding {
  padding: 0px i !important;
}

button {
  background-color: transparent;
  border: none !important;
  padding-right: 2px;
  padding-left: 2px;
  white-space: nowrap;
  :hover {
    color: white !important;
  }

  a {
    color: #fff;
    font-size: 12px;
  }
}
span {
  height: 12px;
  color: #666;
}

.hide-nav {
  padding: 0 !important;
  height: 0px;
  opacity: 0;
  display: none;
}
.icon {
  color: #fff;
  font-size: 0.7857142857rem;
  opacity: 0.7;
  line-height: 1.2142857143rem;
  margin-right: 5px;
  margin-left: 5px;
}

.iconLabel {
  color: #fff;
  font-size: 0.7857142857rem;
  opacity: 0.7;
}
.iconButton {
  background-color: transparent;
  border: none !important;
  padding-right: 4px;
  padding-left: 4px;
  height: 100%;
  :hover {
    color: white !important;
  }
}

@media screen and (max-width: 900px) {
  .leftItems {
    display: none;
  }
}
