<div class="container p-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow bg-primary">
                <div class="card-body"> 
                    <h4>{{ordersList[0].clientInfo.firstName}}</h4>    
                    <h4>{{ordersList[0].clientInfo.lastName}}</h4>                 
                    <h4>{{ordersList[0].clientInfo.address}}</h4>                 
                    <h4>{{ordersList[0].clientInfo.mobileNumber}}</h4> 
                    <h4>{{ordersList[0].clientInfo.city}}</h4>                 
                               </div>
            </div>
        </div>
    </div> 
</div>