<div class="container p-5">
    <div class="row">
   <div class="col-sm-8">
<h3 class="border border-top-0 border-right-0 border-left-0">Payment </h3>
<label class="form-check-label">
    <input class="form-check-input" type="checkbox" onclick="return false;"   checked > Cash On Delivery
  </label>
  <br>
  <label class="form-check-label ml-2">
    <input class="form-check-input" type="checkbox" onclick="return false;"   checked > My billing and shipping address are the same
  </label>
  
  <br>
  <div class="card shadow my-3">
    <div class="card-body"> 
        <h4>{{order.clientInfo.firstName}}</h4>    
        <h4>{{order.clientInfo.lastName}}</h4>                 
        <h4>{{order.clientInfo.address}}</h4>                 
        <h4>{{order.clientInfo.mobileNumber}}</h4> 
        <h4>{{order.clientInfo.city}}</h4>                 
                   </div>
</div>
<p class="my-4 ml-1" >
    Place orders and make payments when receiving
</p>
   </div>
   <!-- secnend part -->
<div class="col-sm-4">
    <p>
        <span class="text-primary">total price : </span>
        <span> {{totalPrice}} EGP </span>
    </p>
    <button class="btn btn-primary my-4" (click)="done()">done</button>
    <br>
    <button class="btn btn-primary my-4" (click)="backToCart()"> back to cart</button>
  
</div>

    </div>
</div>