<div class="container pt-3 ">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <app-cart-item ></app-cart-item>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow mb-2">
                <div class="card-body">
                    <div class="row"><p>Total:</p></div>
                    <div class="row">
                        <p class="text-dark">{{totalPrice}}</p> EGP</div>
                    <div class="dropdown-divider"></div>
                    
                </div>
            </div>
            <button class="btn btn-success btn-block">PROCESS TO CHECKOUT</button>
            <button class="btn  btn-block btnCoupon" type="button">SIGN IN TO ADD COUPON</button>

        </div>
    </div>
</div> 

