<div class="container pt-3 ">
    <h4 class="mb-4">Shopping Cart (3)</h4>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <app-cart-item></app-cart-item>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow mb-2">
                <div class="card-body">
                    <div class="row"><p>Total:</p></div>
                    <div class="row">
                        <p class="text-dark">price</p> EGP</div>
                    <div class="dropdown-divider"></div>
                    
                </div>
            </div>
            <button class="btn btn-success btn-block">PROCESS TO CHECKOUT</button>
            <button class="btn  btn-block btnCoupon" type="button">SIGN IN TO ADD COUPON</button>

        </div>
    </div>
</div> 

<ng-template>
    <div class="container p-5">
        <p class="numberInCart">Shopping Cart (0)</p>
        <div class="alert alert-warning">
            <p>Shopping cart is currently empty</p>
            <p>Add items to your cart and view them here before you checkout.
                <a routerLink="/">Continue shopping!</a>
            </p>
          </div>
    </div>
</ng-template>