
    <footer class="bgColor pt-4">
        <div class="container-fluid">
            <div class="row py-3 firstPart">
                <div class="col-md-3 col-sm-12 ">
                    <h6><b> POPULAR SEARCHES</b></h6>
    
                    <a href="#!" style="text-decoration: none; color: black"> Cameras</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Electronics</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> TVs</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Supermarket</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Appliances</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Watches</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Mobile Phones</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Fashion</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Printers And Accessories</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Laptop</a><br>
    
    
                </div>
                <br>
    
                <div class="col-md-3 col-sm-12">
                    <h6><b> MY ACCOUNT</b></h6>
    
                    <a href="#!" style="text-decoration: none; color: black"> Log In / Register</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> My Shopping Cart</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> My Orders</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> My Addresses</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Wish Lists</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Account Settings</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Account Summary</a>
                    <br>
                    <br>
                    <h6><b>INTELLECTUAL PROPERTY</b></h6>
    
                    <a href="#!" style="text-decoration: none; color: black"> Brand and Copyright Owners</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Marketplace Sellers</a><br>
    
                </div>
                <br>
    
                <div class="col-md-3 col-sm-12">
                    <h6><b> SELLING ON SOUQ.COM</b></h6>
    
                    <a href="#!" style="text-decoration: none; color: black"> Sell on souq.com</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> How It Works</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Selling Policies</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Seller Terms and Conditions</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Fulfilled by Souq</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> FAQs</a>
                    <br>
                    <br>
                    <h6><b>BUYING ON SOUQ.COM</b></h6>
    
                    <a href="#!" style="text-decoration: none; color: black"> How to Buy</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Return Policy</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Advertise with us</a><br>
                    <a href="#!" style="text-decoration: none; color: black"> Help</a><br>
                </div>
    
    
                <!-- <div class="col-md-1 col-sm-6"></div> -->
    
    
    
                <div class="col-md-3 col-sm-12">
    
                    <div class="helpCenter row py-3">
                        <div class="col-2 py-4">
                            <span><i class="far fa-info-circle fa-2x"></i></span>
                        </div>
                        <div class="col-10">
                            <h6 style="color: rgba(0, 47, 255, 0.678)"><b>HELP CENTER</b></h6>
                            <p>Have a question or an issue? <br> We are here to help</p>
                        </div>
    
                    </div>
    
    
                    <div class="row py-3">
    
                        <h6><b> FOLLOW US</b></h6>
                        <br><br>
                        <div class="col-12">
                            <p>
                                <span>
                                    <a href="#!" class="btn btn-link btn-floating"><span
                                            class="fab fa-twitter fa-lg"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span class="fab fa-facebook fa-lg"
                                            style="color: #5856db;"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span
                                            class="fab fa-google-plus-circle fa-lg" style="color: #ff6b6b;"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span class="fab fa-youtube fa-lg"
                                            style="color: #f33131;"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span class="fab fa-instagram fa-lg"
                                            style="color: rgba(0, 47, 255, 0.678)"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span class="fab fa-pinterest fa-lg"
                                            style="color: #f33131;"></span></a>
                                </span>
                            </p>
    
                        </div>
    
                    </div>
    
    
                    <div class="row py-3">
    
                        <h6><b> DOWNLOAD OUR APPS </b></h6>
                        <br><br>
                        <div class="col-12">
                            <p>
                                <span>
                                    <a href="#!" class="btn btn-link btn-floating"><span
                                            class="fab fa-android fa-lg"></span></a>
                                    <a href="#!" class="btn btn-link btn-floating"><span
                                            class="fab fa-apple fa-lg"></span></a>
                                </span>
                            </p>
    
                        </div>
    
                    </div>
    
    
    
                </div>
    
                <div class="col-md-12 col-sm-12 lastPart">
    
    
    
    
                    <a href="#!" style="text-decoration: none; color: black">© 2021 Souq.com</a><br><br>
    
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> About Us </a> <span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Media Center </a><span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Careers </a> <span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Privacy Policy </a><span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Terms and Conditions </a> <span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Affiliate Program </a><br><br>
    
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> العربية </a> <span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> UAE </a><span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Egypt </a> <span>|</span>
                    <a href="#!" style="color: rgba(0, 47, 255, 0.678)"> Saudi </a>
    
                </div>
    
            </div>
    
        </div>
    </footer>
