
<div class="container-fluid">
    <div class="product-detail">
      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
      <ng-template #wrapper>
        <div class="row">
          <div class="col-lg-9">
            <div class="product-detail-top p-4">
              <div class="row">
                <div class="col-md-6">
                  <app-product-slider
                    [currentProduct]="product"></app-product-slider>
                </div>
                <div class="col-md-6">
                
                  <app-product-summary
                    [currentProduct]="product"
                  ></app-product-summary>
                </div>
              </div>
            </div>
            
            <app-products-specification [currentProduct]="product"></app-products-specification>
          </div>
        </div>
        related
        <!-- <app-related-product [subcategory]="product.subcategory"></app-related-product> -->
  
      </ng-template>
      <div class="container-fluid" *ngIf="loading; then spinner; else wrapper">
      </div>
    </div>
  </div> 
 