<div class="container-fluid">
    <div class="row">
        <img class="col-sm-12" [src]="categoryImg" alt="">
    </div> 
    <!-- <div class="row" *ngFor="let subItem of categoriesNameList">
        <div class="col-sm-3 " *ngFor="let item of subItem">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-dark">
                    <h5 class="card-title">{{item.name}}</h5>
                </div>
                <div class="card-body">
                    <img [src]="item.img" class="card-img-top" alt="..." width="50" height="50">
                </div>
            </div>
        </div>

    </div> -->
</div>