.navclass {
  height: 40px;
  width: 100%;
  display: block;
  text-align: center;
  /* flex-direction: row;
  align-items: center;
  justify-content: space-around; */
  padding-right: 100px;
  padding-left: 100px;
}
.hide-nav {
  display: none;
}
