<div id="mySidenav" class="sidenav" style="width:250px">
  <div *ngFor="let parentItem of sideMenuItems; let i = index">
    <button *ngIf="!parentItem.subItems" href="#">
      {{ parentItem.parentName }}
    </button>
    <div *ngIf="parentItem.subItems">
      <label class="accordionContainer" href="#">
        {{ parentItem.parentName }}
      </label>
      <div *ngFor="let item of parentItem.subItems; let j = index">
        <div class="panel" hide="!item.isActive">
          <p>
            {{ item.propertyName }}
          </p>
        </div>
      </div>
    </div>
  </div>


</div>