<div class="row p-2">
  <div class="col">
    <h4>Wish Lists</h4>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-block btn-secondary"
      data-toggle="modal"
      (click)="createNewWishList()"
    >
      CREATE A NEW WISH LIST
    </button>
  </div>
</div>
<div class="card">
  <div class="card-body shadow-lg">
    <a href="">sub category name</a>
  </div>
</div>

<!-- Button to Open the Modal -->
<!-- The Modal -->
<div class="modal" *ngIf="openModal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Wish List</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" placeholder="Whish List Name" />
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary btn-block"
          data-dismiss="modal"
        >
          Save Change
        </button>
      </div>
    </div>
  </div>
</div>
