<div class="row p-2">
  <div class="col">
    <h4>Wish Lists</h4>
  </div>
  <div class="col">
    <button type="button" class="btn btn-block btn-secondary" data-toggle="modal" (click)="createNewWishList()">
      CREATE A NEW WISH LIST
    </button>
  </div>
</div>

<div class="card shadow mb-2" *ngFor="let item of wishList">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img [src]="item.productId.image[0]" alt="" data-toggle="popover" title="{{item.productId.name}}" data-content=""
          class="card-img-bottom w-100 d-block">
      </div>
      <div class="col-10">
        <div class="row">
          <a >{{item.productId.name}}</a>
        </div>
        <div class="row">
          <p class="text-primary">{{item.productId.price}}EGP</p>
        </div>

      </div>
    </div>
    <a class="card-link text-primary">Remove</a>
  </div>
</div>


<!-- Button to Open the Modal -->
<!-- The Modal -->
<div class="modal" *ngIf="openModal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Wish List</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" placeholder="Whish List Name" />
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
          Save Change
        </button>
      </div>
    </div>
  </div>
</div>