<div class="container">
  <ng-template #spinner>
    <app-spinner></app-spinner>
   </ng-template>
  <ng-template #wrapper>
    <div class="row p-2">
      <div class="col">
        <h4>Wish Lists</h4>
      </div>
    </div>
    <div class="card shadow mb-2" *ngFor="let item of wishList">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <img [src]="item.productId.image[0]" alt="" data-toggle="popover" title="{{item.productId.name}}" data-content=""
              class="card-img-bottom w-100 d-block">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <a >{{item.productId.name}}</a>
            </div>
            <div class="row">
              <p class="text-primary">{{item.productId.price}}EGP</p>
            </div>
    
          </div>
        </div>
        <a class="card-link text-primary">Remove</a>
      </div>
    </div>  
  </ng-template>
  <ng-container  *ngIf="loading; then spinner; else wrapper"></ng-container>
</div>
