<!-- <div class="card p-2">
 <a class="product-link" [routerLink]="'/productdetails/'+product._id">
    <img [src]="product.image[0]" alt="" class="w-100 d-block">
    <div class="product-body">
      <p class="brand">{{ product.brand }}</p>
    <p class="product-name">{{ product.name }}</p>
    <b>
      <div class="product-price">EGY {{ product.price }}</div>
    </b>
    <div class="discount">
      <span class="price-was">{{product.price - (product.price * product.discount/100)}}</span>
      <span class="discount">{{product.discount}}%</span>
    </div>
    <app-rating [value]="product.rating" [color]="'#FEEE00'"></app-rating>
  </div>
  </a>
</div> -->