<div class="card p-2">
 <!-- <a class="product-link" [routerLink]="'/productdetails/'+product._id"> -->
    <img [src]="product.image[0]" alt="" class="w-100 d-block">
    <div class="product-body">
      <p class="brand" style="color: #929292;font-size: 14px;">{{ product.brand }} , {{ product.name }} , {{product.description}} </p>
   <div class="my-3">
    <app-rating  [value]="product.rating" [color]="'#FEEE00'"></app-rating>
</div>
<div class="discount">
  <span  style="text-decoration: line-through;font-size: 14px;color: #aeaeae;" class="price-was">{{product.price - (product.price * product.discount/100)}}</span>
 
</div>
    <b>
      <div style="color: #4d9adb;" class="product-price">EGY {{ product.price }}</div>
    </b>
   
   
  </div>
  <!-- </a> -->
</div>