<div class="row">
    <div class="col-sm-3">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-light">
                <h5 class="card-title text-center">{{productList[1].name|slice:0:20}}</h5>
            </div>
            <img [src]="productList[1].image[0]" class="card-img-bottom" alt="...">
            <div class="image-overlay">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card  shadow-lg">
            <div class="card-header bg-dark text-light">
                <h5 class="card-title text-center">{{productList[2].name|slice:0:20}}</h5>
            </div>
            <img [src]="productList[2].image[0]" class="card-img-bottom" alt="...">
            <div class="image-overlay">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card  shadow-lg">
            <div class="card-header bg-dark text-light">
                <h5 class="card-title text-center">{{productList[3].name|slice:0:20}}</h5>
            </div>
            <img [src]="productList[3].image[0]" class="card-img-bottom" alt="...">
            <div class="image-overlay">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-light">
                <h5 class="card-title text-center">{{productList[4].name|slice:0:20}}</h5>
            </div>
            <img [src]="productList[4].image[0]" class="card-img-bottom" alt="...">
            <div class="image-overlay">
            </div>
        </div>
    </div>
</div>