<section class="specification">
    <div class="row product-detail-bottom">
      <div class="col-lg-12">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#description"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill"  routerLink="#reviews"
              >Reviews<span class="ml-3 text-muted"
                >({{ currentProduct.numReviews }})</span
              >
            </a>
          </li>
        </ul>
  
        <div class="tab-content">
          <div id="description" class="container tab-pane fade">
            <h4>Product description</h4>
            <p>
              {{ currentProduct?.overview }}
            </p>
          </div>
         
          <div id="reviews" class="container tab-pane  active">
            <div
              class="reviews-submitted"
              *ngFor="let review of currentProduct.reviews"
            >
            <div class="d-flex justify-content-between">
  
                <span class="reviewer">{{ review.reviewer?.email }}</span>
              <span class="reviewer"> {{review?.createdDate}}</span>
            </div>
              <div class="ratting">
                <app-rating
                  [value]="review.rating"
                  color="rgb(254, 238, 0)"
                ></app-rating>
              </div>
              <p>
                {{ review.comment }}
              </p>
            </div>
            <div class="reviews-submit">
  
              <form [formGroup]="addReviewFrom"  (ngSubmit)="addReview()">
  
                <div [class.alert]="error" class="alert-danger" role="alert">
                  {{error}}
                </div>
              <h4>Give your Review:</h4>
              <div class="rating">
                <ul class="list-inline rating-list"
                *ngFor="let star of stars" style="display: inline-block" >
                  <li (click)="countStar(star)"
                      [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star"></i>
                  </li>
            </ul>
  
  
              </div>
              <div class="row form" >
                  <div class="col-sm-12">
                    <textarea placeholder="Review" formControlName="comment" name="comment"></textarea>
                  </div>
                  <div class="col-sm-3">
                    <input class="btn btn-primary" type="submit" value="review" />
                  </div>
  
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
