 
  .text-color{
    color: #008bff;
      }
      .option{
        background-color:#f4f4f4;
        border: black 2px solid;
        text-align: center;
      }
      .cart{
        background-color: #89b53f;
        font-size: 20px;
        text-align: center;
        color: whitesmoke; 
      }