
<div class="container-fluid pt-3">
    <div class="row mb-2">
        <img src="../../../../assets/ads/topAds/1.jpg" alt="" class="col" >
            <img src="../../../../assets/ads/topAds/2.jpg" alt="" class="col">
            <img src="../../../../assets/ads/topAds/3.jpg" alt="" class="col">
            <img src="../../../../assets/ads/topAds/4.jpg" alt="" class="col">
            <img src="../../../../assets/ads/sideAds/sAds1.png" alt="" class="col">

    </div>
    <div class="row">
        <div class="col-md-9">
            <app-slideshow></app-slideshow>
        </div>
        <div class="col-md-3">
            <img src="../../../../assets/ads/sideAds/sAds2.jfif" alt="" class="row mb-2">
            <img src="../../../../assets/ads/sideAds/sAds3.jfif" alt="" class="row mb-2">
            
        </div>
    </div>
    <div class="row p-2">
        <img src="../../../../assets/ads/otherAds/1.jfif" alt="img" class="container-fluid mb-4">
    </div>
    <div class="row p-2">
        <img src="../../../../assets/ads/otherAds/2.jpg" alt="img" class="container-fluid mb-4">
    </div>
    <div class="row p-3">
        <div class="col-md-12 card">
            <div class="card-body row">
                <h4 class="ml-3">Food & Beverage</h4>
                <div class="row p-2">
                    <div class="col-md-6">
                        <img src="../../../../assets/Img/banner1/1.jpg" alt="">
                        <p>Pasta & Rice</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row ">
                            <div class="col-md-6">
                                <img src="../../../../assets/Img/banner1/2.jpg" alt="">
                                <p class="text-center">Oil & Ghee</p>
                            </div>
                            <div class="col-md-6">
                                <img src="../../../../assets/Img/banner1/3.jpg" alt="">
                                <p class="text-center">Beverages</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../../../assets/Img/banner1/4.jpg" alt="">
                                <p class="text-center">Seasoning & Spices</p>

                            </div>
                            <div class="col-md-6">
                                <img src="../../../../assets/Img/banner1/5.jpg" alt="">
                                <p class="text-center">Dessert</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
       <div class="col-md-12 card">
           <div class="row card-body">
            <h4 class="ml-3">Fashion</h4>
            <div class="row p-2">
                <div class="col-md-6">
                    <img src="../../../../assets/Img/banner2/1.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="row ">
                        <div class="col-md-6">
                            <img src="../../../../assets/Img/banner2/2.jpg" alt="">
                            <p class="text-center">Watches</p>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../assets/Img/banner2/3.jpg" alt="">
                            <p class="text-center">Bags</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../../../assets/Img/banner2/4.jpg" alt="">
                            <p class="text-center">kidwear</p>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../assets/Img/banner2/5.jpg" alt="">
                            <p class="text-center">Eyewear & jewelry</p>
                        </div>
                    </div>
    
                </div>
            </div>
           </div>
       </div>
    </div>
    <div class="row p-2">
        <img src="../../../../assets/ads/otherAds/3.jpg" alt="img" class="container-fluid mb-4">
    </div>
    <div class="row p-2">
        <img src="../../../../assets/ads/otherAds/4.jpg" alt="img" class="container-fluid mb-4">
    </div>
    <div class="row p-2">
        <img src="../../../../assets/ads/otherAds/5.png" alt="img" class="container-fluid mb-4">
    </div>
    <!-- pupular  -->
    <div class="row p-2">
     <app-popular></app-popular>
    </div>
<!-- end pupular -->
</div>
