<div class="container">
    <!-- table for show all products -->
    <div class="row ">
        <div class="col">
            <button type="button" class="btn btn-success text-light" (click)="openAddForm()">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div class="col">
            <h4 class="row">List of Products</h4>
        </div>
    </div>
    <ng-container *ngIf="loading; then spinner; else wrapper">
    </ng-container>
    
        <ng-template #spinner>
            <app-spinner></app-spinner>
        </ng-template>
        <ng-template #wrapper>
            <div class="row tableFixHead">
            <table class="table table-hover " style="height: 20%;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Discount</th>
                        <th scope="col">image</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pro of productList">
                        <td>{{pro.name}}</td>
                        <td>{{pro.price}}</td>
                        <td>{{pro.countInStock}}</td>
                        <td>{{pro.discount}}%</td>
                        <td scope="col"><img [src]="pro.image[0]" alt="" class="rounded" width='50' height="50"></td>
                        <td><button type="button" class="btn btn-danger text-light" (click)="removeProduct(pro.name)"><i
                                    class="far fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </ng-template>
    
    <hr>
    <!-- for for add new product -->
    <ng-template #addForm>
        <div class="row mt-3 mb-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <h4 class="col text-success">Add New Product</h4>
                    </div>
                    <form action="/action_page.php">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="proname">Name*</label>
                                    <input type="text" class="form-control" id="proName" name="proName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="price" name="price">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Quantity</label>
                                    <input type="number" class="form-control" id="qty" name="qty">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Discount</label>
                                    <input type="discount" class="form-control" id="discount" name="discount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="brand">Brand</label>
                                    <input type="text" class="form-control" id="brand" name="brand">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <input type="text" class="form-control" id="category" name="category">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="subCategory">Sub Category</label>
                                    <input type="text" class="form-control" id="subCategory" name="subCategory">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input type="text" class="form-control" id="color" name="color">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="baseMat">Base Material</label>
                                    <input type="text" class="form-control" id="baseMat" name="baseMat">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="rating">Rating</label>
                                    <input type="text" class="form-control" id="rating" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="overview">Overview</label>
                                    <textarea class="form-control" id="overview" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success float-right" routerLink="/chcekout/payment">SAVE
                            Product</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-container *ngIf="isOpen; then addForm"></ng-container>
</div>