<div class="container" style="margin-top: -140px;">
    <!-- table for show all products -->
    <div class="row ">
        <div class="col">
            <button type="button" class="btn btn-success text-light" (click)="openAddForm()">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div class="col">
            <h4 class="row">List of Products</h4>
        </div>
    </div>
    <ng-container *ngIf="loading; then spinner; else wrapper">
    </ng-container>

    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
    <ng-template #wrapper>
        <div class="row tableFixHead" style="height: 5%;">
            <table class="table table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Stock</th>
                        <th scope="col" class="text-center">Discount</th>
                        <th scope="col" class="text-center">image</th>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">#</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of productList">
                        <td class="text-center">{{prod.name}}</td>
                        <td class="text-center">{{prod.price}}</td>
                        <td class="text-center">{{prod.countInStock}}</td>
                        <td class="text-center">{{prod.discount}}%</td>
                        <td scope="col"><img [src]="prod.image[0]" alt="" class="rounded" width='50' height="50"></td>
                        <td><button type="button" class="btn btn-danger text-light"
                                (click)="removeProduct(prod.name)"><i class="far fa-trash-alt"></i></button></td>
                        <td><button type="button" class="btn btn-primary text-light" (click)="openModalForm(prod)">
                                <i class="far fa-edit"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

    <hr>
    <!-- for for add new product -->
    <ng-template #addForm>
        <div class="row mt-3 mb-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <h4 class="col text-success">Add New Product</h4>
                    </div>
                    <form action="/action_page.php">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="proname">Name*</label>
                                    <input type="text" class="form-control" id="proName" name="proName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="price" name="price">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Quantity</label>
                                    <input type="number" class="form-control" id="qty" name="qty">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Discount</label>
                                    <input type="discount" class="form-control" id="discount" name="discount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="brand">Brand</label>
                                    <input type="text" class="form-control" id="brand" name="brand">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <input type="text" class="form-control" id="category" name="category">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="subCategory">Sub Category</label>
                                    <input type="text" class="form-control" id="subCategory" name="subCategory">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="color">Color</label>
                                    <input type="text" class="form-control" id="color" name="color">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="baseMat">Base Material</label>
                                    <input type="text" class="form-control" id="baseMat" name="baseMat">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="rating">Rating</label>
                                    <input type="text" class="form-control" id="rating" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="overview">Overview</label>
                                    <textarea class="form-control" id="overview" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success float-right" routerLink="/chcekout/payment">SAVE
                            Product</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="modal" tabindex="-1" role="dialog" *ngIf="openModal==true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Update Product Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <form [formGroup]="editForm" novalidate>
                        {{editForm.invalid |json}}
                        <!-- <form [formGroup]="loginForm" (ngSubmit)="login()"> -->

                        <!-- {{loginForm.value |json}} -->
                        <div class=" form-group">
                            <label for="name">New Name:</label>
                            <input type="text" formControlName="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="price">New Price:</label>
                            <input type="number" formControlName="price" class="form-control" />
                        </div>
                        <div class=" form-group">
                            <label for="discount">Discount:</label>
                            <input type="number" formControlName="discount" class="form-control" />
                        </div>
                        
                        <button type="submit"  class="btn btn-primary" (click)="editProduct()">Save Change</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isOpen; then addForm"></ng-container>
</div>