<div class="container" style="margin-top: -130px;">
    <!-- table for show all products -->
    <div class="row ">
        <h4 class="row mx-auto">List of Products
            <button type="button" class="btn btn-success text-light ml-2" (click)="openAddForm()">
                <i class="fas fa-plus-circle"></i>
            </button>
        </h4>

    </div>
    <ng-container *ngIf="loading; then spinner; else wrapper">
    </ng-container>

    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
    <ng-template #wrapper>
        <div class="row tableFixHead" style="height: 5%;">
            <table class="table table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Stock</th>
                        <th scope="col" class="text-center">Discount</th>
                        <th scope="col" class="text-center">Subcategory</th>
                        <th scope="col" class="text-center">image</th>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">#</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of productList">
                        <td class="text-center">{{prod.name}}</td>
                        <td class="text-center">{{prod.price}}</td>
                        <td class="text-center">{{prod.countInStock}}</td>
                        <td class="text-center">{{prod.discount}}%</td>
                        <td class="text-center">{{prod.subcategory}}</td>
                        <td class="text-center">{{prod.categories}}</td>
                        <td scope="col"><img [src]="prod.image[0]" alt="" class="rounded" width='50' height="50"></td>
                        <td><button type="button" class="btn btn-danger text-light"
                                (click)="removeProduct(prod.name)"><i class="far fa-trash-alt"></i></button></td>
                        <td><button type="button" class="btn btn-primary text-light" (click)="openModalForm(prod)">
                                <i class="far fa-edit"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>

    <hr>
    <!-- for for add new product -->
    <ng-template #addForm>
        <div class="row mt-3 mb-3">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <div class="row">
                        <h4 class="text-light mx-auto">Add New Product</h4>
                    </div>
                </div>
                <div class="card-body">
                    
                    <form [formGroup]="addProductForm" novalidate>
                        <!-- {{addProductForm.value |json}} -->

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="proname">Name*</label>
                                    <input type="text" formControlName="name" class="form-control" id="proName"
                                        name="proName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" formControlName="price" class="form-control" id="price"
                                        name="price">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="countInStock">Count In Stock</label>
                                    <input type="number" formControlName="countInStock" class="form-control"
                                        id="countInStock" name="countInStock">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="discount">Discount</label>
                                    <input type="number" formControlName="discount" class="form-control" id="discount"
                                        name="discount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="category">Select Category</label>
                                    <select class="form-control" formControlName="category" id="category"
                                        [(ngModel)]="selectedOption" name="status" placeholder="select"
                                        (ngModelChange)="subCateList()">
                                        <option *ngFor="let cate of allCategories" [value]="cate.cateid">{{cate.name}}
                                        </option>
                                    </select>
                                    <h4>
                                        {{selectedOption}}
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="subcategory">Sub Category</label>
                                    <select class="form-control" formControlName="subcategory" id="subcategory"
                                        name="status" placeholder="select">
                                        <ng-container *ngFor="let sub of allsubCategories">
                                            <option [value]="sub.name" *ngIf="allsubCategories !== '' ">{{sub.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group col">
                                    <label for="rating">Rating</label>
                                    <input type="text" formControlName="rating" class="form-control" id="rating"
                                        name="rating">
                                </div>
                                <div class="form-group col">
                                    <label for="rating">overview</label>
                                    <input type="text" formControlName="overview" class="form-control" id="overview"
                                        name="overview">
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <!-- <div formArrayName="alternativeEmails" *ngFor="let email of alternativeEmails.controls let i=index">
                                    <label>Alternative email number {{i+1}}</label>
                                    <input type="text" class="form-control" [formControlName]="i">
                                    <button class="btn btn-primary float-right" (click)="removeEmail(i)">Remove this email</button>
                                </div> -->
                                <div class="form-group row" formArrayName="image">
                                    <div class="form-group col">
                                        <label>Image path1</label>
                                        <input type="text" class="form-control col" [formControlName]="0">
                                    </div>
                                    <div class="form-group col">
                                        <label>Image path2</label>
                                        <input type="text" class="form-control col" [formControlName]="1">
                                    </div>
                                    <div class="form-group col">
                                        <label>Image path3</label>
                                        <input type="text" class="form-control col" [formControlName]="2">
                                    </div>
                                    <div class="form-group col">
                                        <label>Image path4</label>
                                        <input type="text" class="form-control col" [formControlName]="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea formControlName="description" class="form-control" id="description"
                                        rows="1"></textarea>
                                </div>
                            </div>

                        </div>
                        <button type="submit" (click)="addProduct()" [disabled]="addProductForm.invalid" class="btn btn-success float-right">Save
                            Product</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- form modal to edit product -->
    <div class="modal" tabindex="-1" role="dialog" *ngIf="openModal==true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title mx-auto text-light">Update Product Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <form [formGroup]="editForm" novalidate>
                        <!-- <form [formGroup]="loginForm" (ngSubmit)="login()"> -->

                        <!-- {{loginForm.value |json}} -->
                        <div class=" form-group">
                            <label for="name">New Name:</label>
                            <input type="text" formControlName="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="price">New Price:</label>
                            <input type="number" formControlName="price" class="form-control" />
                        </div>
                        <div class=" form-group">
                            <label for="discount">Discount:</label>
                            <input type="number" formControlName="discount" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary float-right" [disabled]='editForm.invalid'
                            (click)="editProduct()">Save Change</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        click="closeModal()">Close</button>
                </div> -->
            </div>
        </div>
    </div>
    <ng-container *ngIf="isOpen; then addForm"></ng-container>
</div>

<!-- 
    name:Magical Flavors Gummy Teeth Candy - 20 G
    https://cf5.s3.souqcdn.com/item/2018/08/29/37/53/57/39/item_XXL_37535739_146245401.jpg
 -->