<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <p class="col">Add New Address</p>
                        <div class="col">
                            <span class="float-right"> Egypt</span>
                        </div>
                    </div>
                    <form [formGroup]="shippingForm">
                        {{shippingForm.value|json}}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="firstName">First Name*</label>
                                    <input type="text" formControlName="firstName" class="form-control" id="firstName" name="firstName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="lastName">Last Name*</label>
                                    <input type="text" formControlName="lastName" class="form-control" id="lastName" name="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber">mobileNumber*</label>
                            <input type="number" formControlName="mobileNumber" class="form-control" id="mobileNumber" name="mobileNumber">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="city">City*</label>
                                    <input type="text" formControlName="city" class="form-control" id="city" name="city">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" formControlName="country" class="form-control" id="country" name="country">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address*</label>
                            <input type="text" formControlName="address" class="form-control" id="address" name="address">
                        </div>
                                             
                       <button type="submit" [disabled]="shippingForm.invalid" class="btn btn-primary float-right" (click)="addOrder()">SAVE ADDRESS</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <h6>SHOPPING CART</h6>
                </div>
                <div class="col">
                    <a routerLink='/shopping_cart'>Back to cart</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="item.productId.image[0]" alt="" data-toggle="popover" data-content=""
                                class="card-img-bottom w-100 d-block">
                        </div>
                        <div class="col-10">
                            <p class="text-black-50">item.productId.name</p>
                        </div>
                        <div class="row pl-5">
                            <p class="text-primary">price EGP</p>

                            <!-- <form [formGroup]="cartForm">
                                <select class="form-control" formControlName="qty" name="qty"
                                    (ngModelChange)="changeQty(qty,item)">
                                    <option *ngFor="let count of item.productId.countInStock | numberToArray"
                                        [ngValue]="count">
                                        {{ count }}
                                    </option>
                                </select>
                            </form> -->
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            Item(s):
                        </div>
                        <div class="col">
                            Total price
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>