<div class="card" style="width: 18rem;">

    <!-- A div to hold img and img-overlay -->

    <div class="card-image">
        <img class="card-img-top" src="../../../../assets/logo2.png" alt="Card image cap">
        <div class="image-overlay">
            <button class="btn btn-primary">quick view</button>
        </div>
    </div>
    <!-- -->

    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Description...</p>
        <div class="row">
            <p class="text-primary float-left col">price</p>
            <img src="" alt="rate img" class="float-right col">
        </div>
    </div>
</div>