/* Changing img holder position, so the overlay will be related to it */

.card-image {
    position: relative;
  }
  
  .image-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(0, 0, 0, 0.5);
    }
  
  .card:hover .image-overlay {
      opacity: 1;
    }