<!-- <nav>
  <a routerLink="main-header">Lazy Module</a>
</nav> -->
<div class="wrapper" (scroll)="onScroll($event)">
  <app-main-header class="mainHeader" [isVisible]="isVisible">
  </app-main-header>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div>
    <label>asddd</label>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
