.wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mainHeader {
  height: auto;
  width: 100%;
  position: fixed;
  margin-bottom: 10px;
  z-index: 10000;
}

.container {
  margin-top: 150px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;

  // margin-left: 200px;
  // padding: 1px 16px;
  // height: 1000px;
}

.footer {
  width: 100%;
}

//
.blanket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: 55px !important;
  }
}
