<!-- 
    https://oman.jazp.com/om-en/assets/commonfiles/images/nosearch.svg
 -->
 <div class="container p-5">
     <div class="row">
         <div class="col-sm-5 mx-auto text-center">
             <h4 class="text-black-50 display-4">Not Found</h4>
            <img src="https://oman.jazp.com/om-en/assets/commonfiles/images/nosearch.svg" alt="">
         </div>
         <!-- <div class="img-overlay">not found</div> -->
     </div>
     <div class="row mt-4">
         <div class="col-sm-5 mx-auto">
             <button class="btn btn-primary btn-block">
                 <a routerLink="/">Go To Home</a>
             </button>
         </div>
     </div>
 </div>
