.navclass {
  height: 40px;
  width: 100%;
  background: #e8ebee;
  position: relative;
  display: block;
  padding-right: 40px;
  padding-left: 40px;
  transition: all 0.3s linear;
  padding: 0 !important;
}
.hide-nav {
  padding: 0 !important;
  height: 0px;
  opacity: 0;
}

.row {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.small-12 {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 40px;
  overflow: hidden;
  margin-left: 3px;
  line-height: 1;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none !important;
  padding: 10px;
  color: #252933;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  display: block;
  white-space: nowrap;
}
