<div class="container" style="margin-top: -248;">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center align-items-center mx-auto ">
      <a href="https://egypt.souq.com/eg-en/">
        <img src="https://cf1.s3.souqcdn.com/public/style/img/en/souqAmazon-logo-v2-X2.png" class="logo"
          alt="Souq.com Logo" title="Souq.com">
      </a>
    </div>

  </div>
  <div class="row pt-2 mb-4">
    <div class="col-sm-4 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">
          <h3 class="card-title">Sign-In</h3>
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group">
              <label for="email" style="float: left;">Email</label>
              <input type="text" class="form-control" id="email" formControlName="email">
            </div>

            <div class="form-group">
              <label for="password" style="float: left;">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <button type="submit" class=" btn-block">
              continue
            </button>
            <p class="p-2">
              By signing in, you agree to our Conditions of Use and Privacy Policy.
            </p>
          </form>
          <a href="#">Need help?</a><br><br>
        </div>
      </div>
      <p class="text-black-50 text-center mt-2">New Customer?</p>
      <button class="btn btn-block" (click)="navigateToSignUp()" style="background-color: gray;">Create Your
        Account</button>
    </div>
  </div>
</div>