<<<<<<< HEAD
button{
    background-color: rgb(218, 153, 56);
    border-radius: 0.3rem;
    color: #202224;
    border-color: #42484e;
    font-size: 1rem;
}
p,a{
    font-size: 0.8rem;
}
=======
.logo {
  max-width: 8.2142857143rem;
}
>>>>>>> ac6dc2026efb0f0c63853f9378f634afdad92729
