<div class="container" style="margin-top: -138;">
    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center align-items-center mx-auto">
            <a routerLink='/'>
            <img src="https://cf1.s3.souqcdn.com/public/style/img/en/souqAmazon-logo-v2.png" class="logo" alt="Souq.com Logo"
              title="Souq.com">
            </a>
          </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-6 mx-auto col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create  account</h3><br>
                    <form #signUpForm="ngForm" novalidate (ngSubmit)="signUp(signUpData)">
    
                        <!-- email -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" #email="ngModel" name="email" [(ngModel)]="signUpData.email"
                                class="form-control"
                                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                        </div>
                        <div *ngIf="email.errors && (email.invalid || email.touched)">
                            <small class="text-danger" *ngIf="email.errors.required && email.touched">email is
                                requered</small>
                            <small class="text-danger" *ngIf="email.errors.pattern">email must be in format</small>
                        </div>
    
                        <!-- password -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" #password="ngModel" [(ngModel)]="signUpData.password" required
                                class="form-control" name="password">
                        </div>
                        <small class="text-danger" *ngIf="password.invalid && password.touched">password is requered</small>
    
                        <!-- first name -->
                        <div class="form-group">
                            <label for="firstName" style="float: left;">First Name</label>
                            <input type="text" #firstName="ngModel" [(ngModel)]="signUpData.firstName" class="form-control"
                                id="firstName" name="firstName" required pattern="^[_a-zA-Z]{1}\w+$">
                        </div>
                        <div *ngIf="firstName.errors && (firstName.invalid || firstName.touched)">
                            <small class="text-danger" *ngIf="firstName.errors.required && firstName.touched">name is
                                requered</small>
                            <small class="text-danger" *ngIf="firstName.errors.pattern">name must start with only charcter
                                or
                                underscore
                            </small>
                        </div>
    
                        <!-- last name -->
                        <div class="form-group">
                            <label for="lastName" style="float: left;">Last Name</label>
                            <input type="text" #lastName="ngModel" [(ngModel)]="signUpData.lastName" class="form-control"
                                id="lastName" name="lastName" required pattern="^[_a-zA-Z]{1}\w+$">
                        </div>
                        <div *ngIf="lastName.errors && (lastName.invalid || lastName.touched)">
                            <small class="text-danger" *ngIf="lastName.errors.required && lastName.touched">name is
                                requered</small>
                            <small class="text-danger" *ngIf="lastName.errors.pattern">name must start with only charcter
                            </small>
                        </div>
                        <button [disabled]="firstName.invalid || email.invalid || lastName.invalid || password.invalid"
                            type="submit" class=" btn-block">
                            <h4>Create an account</h4>
                        </button>
                        <p class="p-3" >
                            By creating an account, you agree to our Conditions of Use and Privacy Policy.
                        </p>
                    </form>
                    <p>Already have an account? <a routerLink="/login">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>