.header {
  height: 80px;
  padding: 0 !important;
  margin: 0 !important;
  background: #fff;
  z-index: 10000000;
  border: solid 1px #dcdcdc;
  margin: auto;
}

.rowContainer {
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.row {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.col {
  text-align: center;
  margin: auto;
}
.logo_col {
  text-align: end;
}

.logo_container {
  width: 100%;
  height: 40px;
  button {
    background-color: transparent;
    border: 0;
  }
}

.logo {
  // width: 9rem;
  max-width: 5.5rem;
  padding: 6px;
  // margin-top: -10px;
}

.header_search_form_container {
  width: 100%;
  height: 40px;
  border-width: 0;
  background-color: #fff;
  border: solid 1px #dcdcdc;
}

.header_search_input {
  width: 100%;
  height: 100%;
  line-height: 50px;
  border: none !important;
  outline: none !important;
  padding-left: 10px;
  color: #7f7f7f;
  float: left;
}

.header_search_input::placeholder {
  font-size: 13px !important;
  font-weight: 300;
  color: #a3a3a3 !important;
  opacity: 0.7;
}

.header_search_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #0e8ce4;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-menu {
  text-align: start !important ;
  // display: block;
  top: 40px;
  left: -25px;
  min-width: 12rem;
  .menu_btn_container {
    display: block;
    text-align: center;
    button {
      background-color: #0e8ce4;
      width: 90%;
      height: 45px;
      border: 1px;
      border-radius: 5px;
      color: #fff;
      margin-bottom: 4px;
    }
    .signUp_noAccount {
      font-size: 13px;
      font-size: 13px;
      background-color: transparent;
      height: 16px;
    }
    .no_account {
      color: #000;
    }

    .sign_up {
      color: #0e8ce4;
      margin-bottom: 5px;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-toggle::after {
  color: gray !important;
}
.dropdown-item {
  font-size: 14px;
  color: #0e8ce4;
}
.dv {
  border-right: 1px solid #d3d3d3;
  border-radius: 0;
}

.loginCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-group {
  margin-right: 14px;
  .btn {
    width: auto !important;
  }
}
.cart {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  .cart_icon {
    margin-top: -20px;
    background-color: transparent;
    border: none !important;
    .cart_count {
      max-height: 20px;
      span {
        color: #ec5840;
      }
    }
  }
  .cart_label {
    font-size: 12px;
    color: #222;
    font-weight: 700;
    top: 0;
  }
}

.icon {
  font-size: 20px !important;
  color: #0e8ce4;
}

.search {
  background-color: transparent;
  border: none !important;
}
.smallContainer {
  display: none !important;
  margin: auto;
  .btn-group {
    margin-right: 4px;
  }
  .btn {
    width: auto !important;
    color: #0e8ce4;
    padding: 4px !important;
  }
}
.hide-search {
  display: none;
}
@media screen and (max-width: 640px) {
  .largeContainer {
    display: none;
  }

  .dropdown-menu {
    left: -90px;
  }
  .smallContainer {
    display: flex !important;
  }
  .header {
    height: 60px;
  }
  .dropdown-toggle::after {
    color: #0e8ce4 !important;
  }
  .header_search_form_container {
    width: 92%;
  }
  .header_search_button {
    top: 66px;
    right: 10px;
    height: 66%;
  }
}
