<div class="container">
    <ng-template #empty>
        <div class="row">
            <div class="col-12 alert alert-warning">There are no orders</div>
        </div>
    </ng-template>
        <ng-template #spinner>
            <app-spinner></app-spinner>
        </ng-template>
        <ng-template #wrapper>
            <div class="row ">
                <table class="table table-dark table-striped table-hover ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Order Num</th>
                            <th scope="col" class="text-center">Total Price</th>
                            <th scope="col" class="text-center">Payment Method</th>
                            <th scope="col" class="text-center">Order Status</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of ordersList ;let i=index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{order.totalPrice}}</td>
                            <td class="text-center">{{order.paymentMethod|uppercase}}</td>
                            <td class="text-center">{{order.orderStatus|uppercase}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-container *ngIf="loading then spinner; else  wrapper"></ng-container>
</div>