<div class="card shadow ">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/logo.png" alt="" data-toggle="popover" title="product name"
                    data-content="And here's some amazing content. It's very engaging. Right?">
            </div>
            <div class="col-10">
                <p class="text-black-50">name</p>
               <div class="row">
                <div class="col-9">
                    <p class="text-primary">110.00 EGP</p>
                </div>
                <form class="col-3"> 
                    <select id="qty" class="form-control" formControlName="qty" name="qty" >
                       
                        <option>
                             count 
                        </option>
                    </select>
                </form>
               </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-black-50">description</p>
                        <p class="text-black-50">description</p>
                        <p class="text-black-50">description</p>
                    </div>
                    <div class="col-6">
                        <p class="text-danger float-right">number of order in cart</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <a href="#" class="card-link">Save for Later <i class="fas fa-heart"></i> </a>
        <a href="#" class="card-link text-danger">Delete <i class="far fa-trash-alt text-danger"></i>
        </a>


    </div>
</div> 

