<div class="card shadow ">
    <div class="card-body" *ngFor="let item of cartItems">
        <div class="row">
            <div class="col-2">
                <img [src]="item.productId.image[0]" alt="" data-toggle="popover" title="product name"
                    data-content="And here's some amazing content. It's very engaging. Right?" style="width: 50%; height: 30%;">
            </div>
            <div class="col-10">
                <p class="text-black-50">{{item.productId.name}}</p>
               <div class="row">
                <div class="col-9">
                    <p class="text-primary">{{item.productId.price}}</p>
                </div>
                <!-- <form class="col-3"> 
                    <select id="qty" class="form-control" formControlName="qty" name="qty" >
                       
                        <option>
                             count 
                        </option>
                    </select>
                </form> -->
               </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-black-50">Free shipping</p>
                        <p class="text-black-50">description</p>
                        <p class="text-black-50">description</p>
                    </div>
                    <div class="col-6">
                        <p class="text-danger float-right">{{item.productId.countInStock}} of order in Stock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <a  class="card-link">Save for Later <i class="fas fa-heart"></i> </a>
        <a  class="card-link text-danger" (click)="deletCart(item.productId._id)">Delete <i class="far fa-trash-alt text-danger"></i>
        </a>


    </div>
</div> 

